@using Admin.Components.Shared.Appointment
@using Admin.Components.Shared.Dialog
@using Admin.Data.Appointments
@using Admin.Data.Helpers
@using Core.Dto.Appointment
@using Microsoft.AspNetCore.Components.Web

@inherits ClientDateComponent

@inject IDialogService DialogService

<table class="w-100 position-relative scheduler-table-container">
    <thead>
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                <th class="inner-table-cell p-2">
                    <span>
                        @StartDate.AddDays(i).ToString("dddd")
                    </span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            var date = StartDate;
            while (date.Date <= EndDate.Date)
            {
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        var activeClass = date.Date == ClientDate ? "active" : "";
                        var currentDate = date;

                        <td class="inner-table-cell">
                            <div class="cell-placeholder">
                                <a role="button" class="m-1 heading @activeClass" @onclick=@(() => OnCalendarStateChange(CalendarLayoutType.Day, currentDate))>
                                    @(date.Day == 1 ? date.ToString("MMM ") : "")@date.Day
                                </a>

                                <TemplatedAppointments @ref="Appointments" Appointments="Events" Date="currentDate" Context="item">
                                    <AppointmentTemplate>
                                        <div class="flex-row-center justify-content-start overflow-hidden rounded-pill text-nowrap bg-primary text-white m-1 pe-1 pointer-event">
                                            @if (item.GetStartDate(true) < DateOnly.FromDateTime(currentDate))
                                            {
                                                <MudTooltip Text="Event starts on previous day" Class="material-icons-tooltip">
                                                    <div class="icon-tooltip">
                                                        <span class="material-symbols-outlined">
                                                            line_start_circle
                                                        </span>
                                                    </div>
                                                </MudTooltip>
                                            }
                                            <small class="mx-1 fw-light">@item.GetStartTime(DateOnly.FromDateTime(currentDate), true).ToString("HH:mm")</small>
                                            <div class="text-truncate">@item.Appointment.Name</div>
                                            <div class="flex-grow-1" />

                                            @if (Appointments.IsSyncedToTimeBlock(item))
                                            {
                                                <span class="material-symbols-outlined m-0 text-white fs-6">sync</span>
                                            }
                                            else if (Appointments.IsTimeBlockException(item))
                                            {
                                                <span class="material-symbols-outlined m-0 text-white fs-6">sync_disabled</span>
                                            }

                                            @if (item.GetEndDate(true) > DateOnly.FromDateTime(currentDate))
                                            {

                                                <MudTooltip Text="Event ends on future day">
                                                    <div class="icon-tooltip float-end">
                                                        <span class="material-symbols-outlined">
                                                            line_end_circle
                                                        </span>
                                                    </div>
                                                </MudTooltip>
                                            }
                                        </div>
                                    </AppointmentTemplate>
                                </TemplatedAppointments>
                            </div>
                        </td>
                        date = date.AddDays(1);
                    }
                </tr>
            }
        }
    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public DateTime StartDate { get; set; } = default;

    [Parameter, EditorRequired]
    public DateTime EndDate { get; set; } = default;

    [Parameter, EditorRequired]
    public List<PositionedAppointment> Events { get; set; } = [];

    [Parameter, EditorRequired]
    public Func<CalendarLayoutType, DateTime, Task> OnCalendarStateChange { get; set; } = default!;

    private TemplatedAppointments Appointments = default!;
}
