@using Admin.Data.Events
@using Admin.Data.Helpers
@using Core.Dto

@inherits ClientDateComponent

<table class="w-100 position-relative scheduler-table-container">
    <thead>
        <tr>
            @for (int i = 0; i < 7; i++)
            {
                <th class="inner-table-cell p-2">
                    <span>
                        @StartDate.AddDays(i).ToString("dddd")
                    </span>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @{
            var date = StartDate;
            while (date.Date <= EndDate.Date)
            {
                <tr>
                    @for (int i = 0; i < 7; i++)
                    {
                        var activeClass = date.Date == ClientDate ? "active" : "";
                        var currentDate = date;

                        <td class="inner-table-cell">
                            <div class="cell-placeholder">
                                <a role="button" class="m-1 heading @activeClass" @onclick=@(() => OnCalendarStateChange(CalendarLayoutType.Day, currentDate))>
                                    @(date.Day == 1 ? date.ToString("MMM ") : "")@date.Day
                                </a>

                                @foreach (var item in Events.OrderBy(x => x.GetStartTime(DateOnly.FromDateTime(date), true)))
                                {
                                    var startTime = item.GetStartTime(DateOnly.FromDateTime(date), true);
                                    var endTime = item.GetEndTime(DateOnly.FromDateTime(date), true);

                                    if (startTime != endTime)
                                    {
                                        <div role="button" class="flex-row-center justify-content-start overflow-hidden rounded-pill text-nowrap bg-primary text-white m-1 pe-1 pointer-event"
                                            @onclick=@(async () => await EditAppointment(item.Appointment))>
                                            @if (item.GetStartDate(true) < DateOnly.FromDateTime(date))
                                            {
                                                <MudTooltip Text="Event starts on previous day" Class="material-icons-tooltip">
                                                    <div class="icon-tooltip">
                                                        <span class="material-symbols-outlined">
                                                            line_start_circle
                                                        </span>
                                                    </div>
                                                </MudTooltip>
                                            }
                                            <small class="mx-1 fw-light">@startTime.ToString("HH:mm")</small>
                                            <div class="text-truncate">@item.Appointment.Name</div>
                                            @if (item.GetEndDate(true) > DateOnly.FromDateTime(date))
                                            {
                                                <div class="flex-grow-1" />
                                                <MudTooltip Text="Event ends on future day">
                                                    <div class="icon-tooltip float-end">
                                                        <span class="material-symbols-outlined">
                                                            line_end_circle
                                                        </span>
                                                    </div>
                                                </MudTooltip>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </td>
                        date = date.AddDays(1);
                    }
                </tr>
            }
        }

    </tbody>
</table>

@code {
    [Parameter, EditorRequired]
    public DateTime StartDate { get; set; } = default;

    [Parameter, EditorRequired]
    public DateTime EndDate { get; set; } = default;

    [Parameter, EditorRequired]
    public List<PositionedAppointment> Events { get; set; } = [];

    [Parameter, EditorRequired]
    public Func<CalendarLayoutType, DateTime, Task> OnCalendarStateChange { get; set; } = default!;

    [Parameter, EditorRequired]
    public EventCallback<AppointmentDto> OnEditAppointment { get; set; }

    private async Task EditAppointment(AppointmentDto appointment)
    {
        await OnEditAppointment.InvokeAsync(appointment);
    }
}
