@using Admin.Data.Events
@using Core.Dto;

<div class="day-col-container">
    <table class="scheduler-inner-table">
        <tbody>
            @for (int i = 1; i <= 24; i++)
            {
                <tr><td class="cell-half-hour"></td></tr>
                <tr><td class="cell-hour"></td></tr>
            }
        </tbody>
    </table>

    @foreach (var item in Events)
    {
        if (item.HeightPx(Date, true) == 0)
        {
            continue;
        }

        <div class="event-container" style="--event-top: @(item.TopPx(Date, true))px;
                --event-height: @(item.HeightPx(Date, true))px;
                --event-left: @(item.LeftPc(Date))%;
                --event-width: @(item.WidthPc(Date))%;">
            <div class="event">
                <p>@item.Event.Name</p>
                <p>@item.Event.Location</p>
            </div>
        </div>
    }
</div>

@code {
    [Parameter, EditorRequired]
    public DateOnly Date { get; set; }

    [Parameter]
    public List<PositionedEventBooking> Events { get; set; } = new List<PositionedEventBooking>();
}